{% extends 'base.html' %}
{% block title %}Server's administrator settings{% endblock title %}
{% block content %}
{% block h1 %}ServEr SettIngs, for the AdmiNistRatoR{% endblock h1 %}
<p>
    The following settings will take affect as soon as you submit the form.
</p>
<p>
  {{ json_data.home['home']['server_name'] }}
</p>
<p>
<form action="/admin/post/home-data.py" method="POST">
  <header><h3 align="center">Basic Information</h3></header>
  <div class="form-group">
    <label for="server_name">Server Name</label>
    <input
      type="text"
      class="form-control"
      id="server_name"
      name="server_name"
      placeholder="server name"
      value="{{ json_data.home['home']['server_name'] }}"
    />
  </div>
  <div class="form-group">
    <label for="admin_name">Admin Name</label>
    <input
      type="text"
      class="form-control"
      id="admin_name"
      name="admin_name"
      placeholder="admin nickname"
      value="{{ json_data.home['home']['admin'] }}"

    />
  </div>
      <div class="form-group">
    <label for="email">Your Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="your email address"
      value="{{ json_data.home['home']['email'] }}"
    />
  </div>
      <div class="form-group">
    <label for="smtp_server">SMTP Server</label>
    <input
      type="text"
      class="form-control"
      id="smtp_server"
      name="smtp_server"
      placeholder="leave blank to guess smtp server."
      value="{{ json_data.home['home']['smtp_server'] }}"

    />
  </div>
  <div class="form-group">
    <label for="smtp_password1">Email Password</label>
    <input
      type="password"
      class="form-control"
      id="smtp_password1"
      name="smtp_password1"
      placeholder="email password"
      value="{{ json_data.home['home']['smtp_password'] }}"
    />
  </div>
  <div class="form-group">
    <label for="smtp_password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="smtp_password2"
      name="smtp_password2"
      placeholder="confirm password"
      value="{{ json_data.home['home']['smtp_password'] }}"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</p>
{% endblock content %}