{% extends 'base.html' %}
{% block title %}BNC vhost service overview{% endblock title %}
{% block h1 %}Your Proxy and Vhost BNCz{% endblock h1 %}
{% block content %}
<p>
Here is a list of bounce servers both proxies and vhosts, which are available with your login.
</p>
<p>Replace the text <strong>&lt;Network&gt;</strong> with the irc network you wish to connect to and replace the
    text <strong>&lt;password here&gt;</strong> with of course your password--you used to log in to this website.
{% if not user.is_authenticated %}
    You are not logged in; so your username is replaced with &lt;username&gt; on this web page.
    {% endif %}
</p>
<h4>Available vhost server access</h4>
{% for v in bnc_list %}
<p>provider: {{ bnc_list[v]['provider'] }}</p>
{% set count = [0] %}
{% set i = [0] %}
{% for bnc in bnc_list[v]['vhost_hosts'] %}
{% if count.append(count.pop() + 1) %}{% endif %}
    <p>{{ count[0] }}. host:&ensp;{{ bnc_list[v]['vhost_hosts'][i[0]] }}
        &nbsp; <br />/server -m {{ bnc_list[v]['vhost_hosts'][i[0]] }}&ensp;&lt;Network&gt;/{{
        current_user.user_name or "<username>" }}:&lt;password here&gt;
    </p>
{% if i.append(count.pop() + 1) %}{% endif %}
{% endfor %}
{% endfor %}
<h4>Available proxy server access</h4>
{% for v in bnc_list %}
<p>provider: {{ bnc_list[v]['provider'] }}</p>
{% set count = [0] %}
{% set i = [0] %}
{% for bnc in bnc_list[v]['proxy_hosts'] %}
{% if count.append(count.pop() + 1) %}{% endif %}
    <p>{% print(count[0]) %}. host:&ensp;{{ bnc_list[v]['proxy_hosts'][i[0]] }}
        &nbsp; <br />/proxy -p-d on {{ bnc_list[v]['proxy_hosts'][i[0]] }}&ensp;{{
        current_user.user_name or "<username>" }} &lt;password here&gt;
    </p>
    {% if i.append(count.pop() + 1) %}{% endif %}
{% endfor %}
{% endfor %}

{% endblock content %}