{% extends "base.html" %} {% block title %}BNC settings login{% endblock %}
{% block content %}
<form method="POST">
  <header><h3 align="center">Reset Login</h3></header>
  <div class="form-group">
    <label for="user_name">UserName</label>
    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="type your UserName">
  </div>
  <p>And / Or</p>
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="type your e-mail">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}
