{% extends "base.html" %} {% block title %}Failed to Reset Login{% endblock %}
{% block h1 %}Sorry, Reset Login Failed{% endblock h1 %}
{% block content %}
<p>There are no accounts which match the UserName or E-Mail address you have provided.</p>
<p>Click/tap to go back to the <a href="/admin/forgot.htm">forgot password</a> page. Or,
sign-up for an <a href="/admin/sign-up.htm">new account</a>, it's fast and easy. E-mail address requires less than 5
accounts associated with it (you may create 5 accounts per e-mail address).</p>
{% endblock content %}
