{% extends 'base.html' %}
{% block title %}XDCC search, Python proxy server & web-server, mIRC/Adiirc mSL script, documentation{% endblock title %}
{% block h1 %}Trio-IrcProxy.Py Services Home{% endblock h1 %}
{% block content %}
<p><a href="https://sourceforge.net/projects/trio-ircproxy/files/latest/download"><img alt="Download trio-ircproxy.py" src="https://img.shields.io/sourceforge/dt/trio-ircproxy.svg"></a></p>
<p title="trio-ircproxy.py assistive web-server"><a href="/index.html">home</a> - you are here now.</p>
<p title="the code of conduct for anyone using or supplying this application"><a href="/coc/code_of_conduct.html">Code of Conduct</a> - i require that you behave as outlined in the code-of-conduct while using this web-server and applications (proxy/vhost server and MG script).</p>
<p title="the copyright notice, which may change at any time. this is just an pre-release web-ssite, therefor everything may be temporary including this copyright notice."><a href="/licence.html">COPYRIGHT LICENCE</a> - copyright notice for all content, including this web-server, and applications available from this web-server.</p>
<p title="downloading with Internet Relay Chat client"><a href="/search/xdcc.html">XDCC search</a> - get movies, television, applications, games, ebooks, audio, comic, animation.</p>
<p title="listing of vhost and proxy servers network"><a href="/irc/bounce.html">Bounce servers</a> - view login details for your bounce servers.</p>
<p title="log-in to this website and use the web-server to stage advanced script usage"><a href="/admin/settings.html">Config WWW</a> - configure your web-server, modify users database.</p>
<p title="Machine Gun mSL script, with trio-ircproxy.py and this webserver"><a href="https://ashburry.PythonAnywhere.com/download/">MG mSL script and Vhost/web server</a> - download this complete application and documentation; compatible with Windows 7+, Linux, MacOS running Python 3.8+.</p>
<p title="email the author">contact the author at <a href="mailto:Ashburry_UnderNet@outlook.com">Ashburry_UnderNet@outlook.com</a> - for any concerns and questions regarding this web-server, Python app, mSL script, documentation, irc channel and its guests and administrators -- and if you would like to help with the project and its irc channel.</p>
{% endblock content %}
