{% extends 'base.html' %}
{% block title %}XDCC search, Python proxy server & web-server, mIRC/Adiirc mSL script{% endblock title %}
{% block content %}
{% block h1 %}Trio-IrcProxy.Py ServiCes Home{% endblock h1 %}
<p><a href="https://sourceforge.net/projects/trio-ircproxy/files/latest/download"><img alt="Download trio-ircproxy.py" src="https://img.shields.io/sourceforge/dt/trio-ircproxy.svg"></a>
</p>
<p title="trio-ircproxy assistive web-server"><a href="/index.html">home</a> - you are here now</p>
<p title="The code of conduct for anyone using or supplying this application"><a href="/coc/code_of_conduct.html">code of conduct</a> - you agree to the coc before using this website/application.
<p title="downloading with Internet Relay Chat client"><a href="/search/xdcc.html">XDCC search</a> - powered with Trio-Ircproxy.py</p>
<p title="log-in to the website and use the settings to configure your irc sessions live"><a href="/admin/login.html">irc session live settings</a> - configure IRC sessions</p>
<p title"log-in as admin to configure link to trio-ircproxy.py"><a href="/admin/admin.html">web server & proxy set-up</a> - configure the web-server and trio-ircproxy.py link</p>
<p title="listing of vhost and proxy servers network"><a href="/irc/bounce.html">bounce server list</a> - the bounce servers available with your login</p>
<p title="Machine Gun mSL script with Python trio-ircproxy.py and this webserver"><a href="https://ashburry.PythonAnywhere.com/">Machine Gun mSL script</a> - download mIRC/Adiirc script and connect to Trio-Ircproxy.py bounce server.</p>
<p title="email the administrator">contact the admin at <a href="mailto:ashburry_UnderNet@outlook.com">ashburry_UnderNet@outlook.com</a> for any concerns with the userspace including this webserver, python app, mSL script, irc channel and its guests or admins
</p>
{% endblock content %}