{% extends 'base.html' %}
{% block title %}User BNC network listing{% endblock title %}
{% block h1 %}BNC User--Network Activity{% endblock h1 %}
{% block content %}
<p>You may use the settings page to add irc networks to your list. Then just use the Network Name
  in your /server command. Click on an active network name to see who is connected using your login.
</p><p>
  {% if not user.is_authenticated %}
  <p>You must be logged in to view your irc network activity.</p>
  {% elif networks == None %}
  <p>You are not logged in to any irc networks at this time. Note: Include website login (all websites network)</p>
  {% else %}
<p>Listing {{ len(networks) }} active networks for: <strong>{{ user.user_name }}</strong></p>
{% set bold = [0] %}
<p>
  {{ table }}
  {% for net in networks %}
  {% if bold.append(bold.pop() + 1) %}{% endif %}
  {% if bold[0] % 2 == 1 %}<strong>{% endif %}
  <br />{{ net }}
  {% if bold[0] % 2 == 1 %}</strong>{% endif %}
  {% endfor %}
  </p>
  {% endif %}
<p><a href="/bnc/bounce.htm"><- Back (bounce.htm)</a></p>
{% endblock content %}