flask_login
flask
flask_sqlalchemy
twisted
platformdirs
cryptography
pif
trio
# The remaining packages are for trio-ircproxy.py only; not for the web-server.
trio-typing
pyopenssl
gevent
pendulum
typing
