ol.xdcc_nav > li {
    list-style-position: inside;
    white-space: nowrap;
}
.msg {
    margin-left: 20px;
}
.tea {
    color: teal;
}
.networklink {
    font-size: large;
    text-style: underline;
}
form .text_input {
    margin-left: 25px;
    color: grey;
    width: 300px;
}
form #text_input {
    margin-left: 25px;
    color: grey;
    width: 300px;
}